---
/* Title - TypeScript */
import {
  titleNews_01,
  fullDate_01,
  formateTitle_01,
  formateDate_01,
} from "@/pages/2023/11/07/title";

import {
  titleNews_02,
  fullDate_02,
  formateTitle_02,
  formateDate_02,
} from "@/pages/2023/11/21/title";

import {
  titleNews_03,
  fullDate_03,
  formateTitle_03,
  formateDate_03,
} from "@/pages/2023/11/22/title";

import {
  titleNews_04,
  fullDate_04,
  formateTitle_04,
  formateDate_04,
} from "@/pages/2023/11/27/title";

import {
  titleNews_05,
  fullDate_05,
  formateTitle_05,
  formateDate_05,
} from "@/pages/2023/12/05/title";

/* Componentes Cards - Vue */
import CardsVue from "./Cards.vue";

/* Ícones - Astro */
import { Icon } from "astro-iconify";
---

<section class="flex flex-col items-center justify-center gap-2 pb-8">
  <a href={`${fullDate_01}/${formateTitle_01}`}>
    <CardsVue title={titleNews_01} datePost={formateDate_01()}>
      <Icon name="logos:vue" size="55" />
    </CardsVue>
  </a>

  <a href={`${fullDate_02}/${formateTitle_02}`}>
    <CardsVue title={titleNews_02} datePost={formateDate_02()}>
      <Icon name="logos:nextjs-icon" size="55" />
    </CardsVue>
  </a>

  <a href={`${fullDate_03}/${formateTitle_03}`}>
    <CardsVue title={titleNews_03} datePost={formateDate_03()}>
      <Icon name="logos:nextjs-icon" size="55" />
    </CardsVue>
  </a>

  <a href={`${fullDate_04}/${formateTitle_04}`}>
    <CardsVue title={titleNews_04} datePost={formateDate_04()}>
      <Icon name="logos:git-icon" size="55" />
    </CardsVue>
  </a>

  <a href={`${fullDate_05}/${formateTitle_05}`}>
    <CardsVue title={titleNews_05} datePost={formateDate_05()}>
      <Icon name="logos:css-3" size="55" />
    </CardsVue>
  </a>
</section>
